.left{
    width: 14vw;
}

.right{
    width: 76vw;
    margin-left: 4vw;
}

.logout-button-wrapper{
    margin-left: calc(100vw - 150px - 150px);
    justify-content: flex-end;
    height: 56px;
}

.logout-button{
    width: 80px;
    height: 32px;
    margin-top: 12px;
}