.header-wrapper{
    height: 56px;
    padding: 0;
}

.header-left-menu{
    width: calc(100vw - 550px);
    height: 56px;
    display: inline-flex;
}

.header-searchbar-container{
    width: 260px;
    height: 56px;
    margin-right: 14px;
}

.header-searchbar{
    width: 260px;
    height: 32px;
    float: right;
    margin-top: 12px;
    border-color: #65156C;
}

.header-login-signup-container{
    width: 110px;
    padding-right: 8px;
    height: 56px;
    display: inline-flex;
}

.button-primary-general{
    background-color: #65156C;
    color: white;
    border-color: #65156C;
}

.button-primary-general:hover{
    background-color: #f5f3f6;
    border-color: #65156C;
    color: #65156C;
}

#login-button{
    font-weight: 500;
    font-size: 12px;
    height: 32px;
    width: 90px;
    border-radius: 6px;
}

.hover-expand-wrapper{
    position: absolute;
    z-index: 100;
    width: calc(100vw - 40px);
    height: 374px;
    margin-left: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

.hover-expand-menu-item{
    padding-left: 12px;
    padding-right: 12px;
    color: #A091B2;
    line-height: 54px;
    font-size: 12px;
}

.hover-expand-menu-item:hover{
    color: #65156C;
}

.hover-expand-content-container{
    display: inline-flex;
}

.hover-expand-left-box{
    background-color: #ECF8FE;
    width: 24vw;
    height: 374px;
    border-radius: 12px 0 0 12px;
    display: block;
    overflow: hidden;
}

.hover-expand-left-box-title{
    font-family: "Songti SC";
    font-size: 18px;
    text-align: center;
    color: #65156C;
    margin-top: 20px;
}

.hover-expand-left-box-button{
    margin-top: 18px;
}

.hover-expand-checknow-button{
    margin-left: 32%;
    font-weight: 400;
    font-size: 12px;
    height: 28px;
    width: 36%;
}

.hover-expand-left-box-bookcover{
    margin-top: 20px;
    width: 76%;
    margin-left: 12%;
    height: auto;
}

.hover-expand-right-box{
    width: calc(100vw - 40px - 24vw);
    height: 374px;
    border-radius: 0 12px 12px 0;
    display: inline-flex;
    background-color: white;
}

.hover-expand-right-box-col{
    width: calc(25% - 54px);
    height: 320px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 54px;
}

.hover-expand-right-box-title{
    font-family: "Songti SC";
    font-size: 17px;
    color: #65156C;
}

.hover-expand-right-box-hint{
    font-size: 12px;
    color: #A091B2;
    margin-top: 18px;
}

.hover-expand-right-box-item{
    margin-top: 10px;
    font-size: 13px;
    color: #65156C;
}

.hover-expand-right-box-item:hover{
    font-weight: 700;
}

.hover-expand-right-box-seemore{
    margin-top: 22px;
    color: #A091B2;
    font-size: 12px;
}

.hover-expand-right-box-seemore:hover{
    font-weight: 700;
}

.cart-header{
    width: 100vw;
    height: 32px;
    display: inline-flex;
    margin-top: 6px;
}

.cart-header-texth1{
    margin-left: 36px;
    width: 100px;
    height: 32px;
    font-size: 20px;
    color: #333333;
    font-weight: 500;
    line-height: 30px;
}

.cart-header-texth2{
    margin-left: 24px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    color: #65156C;
}

.cart-items-title{
    margin-top: 10px;
    height: 36px;
    display: inline-flex;
    color: #333333;
}

.select-all-wrapper{
    width: calc(36px + 7vw);
    display: inline-flex;
}

.select-all-wrapper-bottom{
    width: 90px;
    height: 56px;
    display: inline-flex;
}

.cart-items-title-selectall{
    margin-left: 8px;
    font-size: 12px;
    line-height: 36px;
    color: #333333;
}

.bottom-title-selectall{
    margin-left: 8px;
    font-size: 14px;
    line-height: 56px;
    color: #333333;
}

.cart-items-title-commodity{
    font-size: 12px;
    line-height: 36px;
    width: 7.1vw;
    margin-left: 1.9vw;
    color: #333333;
}

.cart-items-title-single-price{
    margin-left: calc(32.5vw + 100px);
    width: 80px;
    text-align: right;
    font-size: 12px;
    line-height: 36px;
    color: #333333;
}

.cart-items-title-num{
    margin-left: 3vw;
    width: 8vw;
    text-align: center;
    font-size: 12px;
    line-height: 36px;
    color: #333333;
}

.cart-items-title-total-price{
    margin-left: 2vw;
    width: 80px;
    text-align: right;
    font-size: 12px;
    line-height: 36px;
    color: #333333;
}

.cart-searchbar-container{
    width: 220px;
    height: 32px;
    margin-left: 24px;
}

.cart-searchbar{
    width: 220px;
    height: 32px;
    border-color: #65156C;
}

.cart-item{
    /*
        background-color: lavenderblush;
    */
    width: 100vw;
    display: block;
}

.item-cover-wrapper{
    background-color: #FAFAFC;
    border-radius: 12px;
    width: 9vw;
    height: 9vw;
}

.item-cover-pic{
    height: 8vw;
    margin-left: calc((100% - 5.2vw) / 2);
    margin-top: calc((100% - 8vw) / 2);
}

.item-select{
    width: 7vw;
    /*
        background-color: lavender;
    */
    margin-left: 36px;
}

.item-info-wrapper{
    display: block;
    /*
        background-color: lightyellow;
    */
    width: 25vw;
    margin-left: 1.5vw;
}

.item-title{
    color: #65156C;
    margin-top: 6px;
    font-size: 14px;
    line-height: 20px;
}

.item-author{
    color: #333333;
    margin-top: 12px;
    font-size: 12px;
    line-height: 20px;
}

.item-publisher{
    color: #333333;
    margin-top: 2px;
    font-size: 12px;
    line-height: 20px;
}

.version-select{
    margin-left: 3vw;
    /*
        background-color: azure;
    */
    width: 100px;
    text-align: right;
    font-size: 13px;
    color: #333333;
}

.item-version{
    font-size: 14px;
    color: #333333;
    text-align: right;
    margin-top: 7px;
}

.single-price{
    margin-left: 3vw;
    /*
        background-color: azure;
    */
    width: 80px;
    text-align: right;
    font-size: 14px;
    color: #333333;
}

.item-single-price{
    text-align: right;
    font-size: 14px;
    color: #333333;
    margin-top: 7px;
}

.total-price{
    margin-left: 2vw;
    /*
        background-color: azure;
    */
    width: 80px;
    text-align: right;
    font-size: 14px;
    color: #333333;
}

.item-total-price{
    text-align: right;
    font-size: 14px;
    color: #333333;
    margin-top: 7px;
}

.num{
    width: 8vw;
    margin-left: 3vw;
}

.item-number-select{
    width: 8vw;
    height: 30px;
}

.item-num{
    width: 8vw;
}

.item-isStock{
    font-size: 12px;
    text-align: center;
    margin-top: 6px;
    color: #A091B2;
}

.options{
    float: right;
    /*
        background-color: azure;
    */
    width: 90px;
    margin-left: 3vw;
}

.item-delete{
    margin-top: 5px;
    float: right;
    color: #333333;
}

.item-move{
    margin-top: 4px;
    float: right;
    color: #333333;
}

.cart-items-select{
    margin-left: 3vw;
    margin-top: 3vw;
}

.option-text-button{
    background-color: transparent;
    border: none;
    font-size: 13px;
    color: #333333;
}

.option-text-button:hover{
    color: #65156C;
}

.option-text-button-bottom{
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #333333;
    line-height: 56px;
}

.option-text-button-bottom:hover{
    color: #65156C;
}

.bottom-title-left{
    margin-left: 1.5vw;
}

.bottom-left-wrapper{
    width: 50vw;
    display: inline-flex;
}

.bottom-right-wrapper{
    width: 50vw;
    display: inline-flex;
    justify-content: flex-end;
}

.cart-select-count{
    font-size: 14px;
    line-height: 56px;
    display: inline-flex;
    margin-right: 1.5vw;
}

.cart-select-count-num{
    color: #65156C;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 54px;
}

.cart-total-price{
    font-size: 14px;
    line-height: 56px;
    display: inline-flex;
}

.cart-total-price-num{
    color: #65156C;
    font-size: 18px;
    font-weight: 500;
    line-height: 54px;
}

.checkout-button-wrapper{
    margin-left: 1.5vw;
    background-color: azure;
    width: 7vw;
    justify-content: center;
    margin-right: 3vw;
}

.checkout-button{
    background-color: #65156C;
    color: white;
    border: solid 1px #65156C;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
}

.checkout-button:hover{
    background-color: #A091B2;
    border-color: #A091B2;
}

.item-number-select ::v-deep .el-input {
    --el-input-border-color: #A091B2;
    --el-input-hover-border-color: #65156C;
}

.item-number-select ::v-deep .el-input .el-input__wrapper{
    border-radius: 5px;
}

.item-number-select ::v-deep .el-input-number__increase{
    color: #A091B2;
    background-color: #FAFAFC;
    border-color: #A091B2;
}

.item-number-select ::v-deep .el-input-number__increase:hover{
    color: #65156C;
    background-color: #FAFAFC;
    border-color: #65156C;
}

.item-number-select ::v-deep .el-input-number__decrease{
    color: #A091B2;
    background-color: #FAFAFC;
    border-color: #A091B2;
}

.item-number-select ::v-deep .el-input-number__decrease:hover{
    color: #65156C;
    background-color: #FAFAFC;
    border-color: #65156C;
}

.item-number-select ::v-deep .el-input .el-input-number__increase .svg{
    color: #65156C;
}

.footer-wrapper{
    height: 56px;
    padding: 0;
    margin: 0;
}



::v-deep .el-input{
    border-color: #65156C;
}

::v-deep .el-input .el-input__wrapper{
    border-radius: 20px;
}

::v-deep .el-input .el-input__inner{
    font-weight: 400;
    font-size: 12px;
    color: #65156C;
}

::v-deep .el-input {
    --el-input-border-color: #65156C;
    --el-input-hover-border-color: #A091B2;
    --el-input-focus-border-color: #65156C;
}

::v-deep .el-divider{
    margin-top:8px;
    margin-bottom: 12px;
}

::v-deep .el-checkbox{
    --el-checkbox-checked-text-color: #65156C;
    --el-checkbox-checked-bg-color: #65156C;
    --el-checkbox-input-border-color-hover: #65156C;
    --el-checkbox-checked-input-border-color: #65156C;
    --el-checkbox-input-border: solid 1px #A091B2;
}

.divider{
    margin-left: calc(36px + 7vw);
    width: calc(49.5vw + 454px);
}


@media screen and (max-width: 1100px){
    .hover-expand-right-box {
        width: 796px;
    }

    .hover-expand-left-box {
        width: 264px;
    }

    .hover-expand-wrapper {
        width: 1100px;
    }

    .header-left-menu {
        width: 550px;
    }

    .header-searchbar-container {
        width: 260px;
    }

    .cart-header{
        width: 1100px;
    }

    .cart-item{
        width: 1100px;
    }
    .item-cover-wrapper{
        background-color: #FAFAFC;
        border-radius: 12px;
        width: 99px;
        height: 99px;
    }
    .item-cover-pic{
        height: 88px;
        margin-left: calc((100% - 57px) / 2);
        margin-top: calc((100% - 88px) / 2);
    }
    .item-info-wrapper{
        width: 275px;
        margin-left: 16.5px;
    }

    .single-price{
        margin-left: 33px;
    }

    .num{
        width: 88px;
        margin-left: 33px;
    }

    .item-number-select{
        width: 88px;
        height: 30px;
    }

    .item-num{
        width: 88px;
    }

    .version-select{
        margin-left: 33px;
    }

    .item-select {
        width: 77px;
    }

    .total-price{
        margin-left: 22px;
    }

    .options{
        margin-left: 33px;
        width: 90px;
    }

    .select-all-wrapper{
        width: 113px;
    }

    .select-all-wrapper-bottom{
        width: 90px;
    }

    .cart-items-title-commodity{
        width: 78px;
        margin-left: 20.9px;
    }

    .cart-items-title-single-price{
        margin-left: 457.5px;
    }

    .cart-items-title-num{
        margin-left: 33px;
        width: 88px;
    }

    .cart-items-title-total-price{
        margin-left: 22px;
        width: 80px;
    }


    .divider{
        margin-left: 113px;
        width: 998.5px;
    }

    .cart-items-select{
        margin-left: 33px;
        margin-top: 33px;
    }

    .bottom-title-left{
        margin-left: 16.5px;
    }

    .bottom-left-wrapper{
        width: 550px;
    }

    .bottom-right-wrapper{
        width: 550px;
    }

    .cart-select-count{
        margin-right: 16.5px;
    }

    .checkout-button-wrapper{
        margin-left: 16.5vw;
        width: 77px;
        margin-right: 33px;
    }
}
